Repository Yuanrui-Mdt-Info/airbyte, pull requests merged in 2022-10, with the labels that each got.

#23 CU-3feb8a0_Business-reports_Roy--
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_SALES_AND_TRAFFIC_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

#25 CU-34vy9qb_Implement-webapp-landing-page-UI_Muhammad-Akif
  airbyte-webapp/public/daspireDashboard.png
  airbyte-webapp/public/daspireLogo.svg
  airbyte-webapp/public/daspireLogo1.svg
  airbyte-webapp/src/components/CenteredPageComponents/BigButton.tsx
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/ConnectionSettingsCell.tsx
  airbyte-webapp/src/components/EntityTable/components/SwitchButton.tsx
  airbyte-webapp/src/components/PageTitle/PageTitle.tsx
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/components/base/Button/Button.tsx
  airbyte-webapp/src/components/base/Button/types.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/components/ConnectionsTable.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/TitlesBlock.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/WelcomeStep.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.module.scss
  airbyte-webapp/src/views/layout/SideBar/SideBar.module.scss
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/platform, team/frontend

#26 merge from master
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_SALES_AND_TRAFFIC_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-webapp/.storybook/theme.tsx
  airbyte-webapp/package-lock.json
  airbyte-webapp/src/components/Markdown/index.stories.tsx
  airbyte-webapp/src/components/base/Tooltip/index.stories.tsx
  airbyte-webapp/src/config/casesConfig.json
  airbyte-webapp/src/config/links.ts
  airbyte-webapp/src/packages/cloud/views/auth/Auth.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/__snapshots__/GitBlock.test.tsx.snap
Labels: area/connectors, area/platform, team/frontend

#27 CU-3640vdh_BE-allow-user-to-sign-in_Roy--
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
Labels: area/platform, area/api, area/server
