Repository Yuanrui-Mdt-Info/airbyte, pull requests merged in 2023-11, with the labels that each got.

#411 CU-867917bp6_UI-improvements_Shoaib-Ejaz
  airbyte-webapp/src/components/PageSize/PageSize.tsx
  airbyte-webapp/src/components/base/DropDown/DropDown.tsx
Labels: area/platform, team/frontend

#413 CU-866az8ctg_---DA20231012-066---Performance-issue-on-production---create-a-new-API-that-contains-source-and-source-specific-connection-data-for-this_Nick
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/api, area/server

#414 CU-866b0ezej_---DA20231101-070---Destination-setting-supports-the-pagination-of-connections_Shoaib-Ejaz
  airbyte-webapp/.env
  airbyte-webapp/src/core/domain/connector/DestinationService.ts
  airbyte-webapp/src/core/domain/connector/SourceService.ts
  airbyte-webapp/src/core/request/AirbyteClient.ts
  airbyte-webapp/src/core/request/AirbyteClient1.ts
  airbyte-webapp/src/core/request/DaspireClient.ts
  airbyte-webapp/src/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
Labels: area/platform, team/frontend

#418 CU-86792fj0e_bugSelect-manual-as-the-synchronization-method-and-the-error-will-be-500-when-connecting_Shoaib-Ejaz
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/platform, team/frontend

#423 CU-86792r4eq_BugMaximum-number-of-retries-for-deleting-report-generation-and-error-reporting_Shoaib-Ejaz
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SyncNowButton.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
Labels: area/platform, team/frontend

#425 Fix Netsuite object type file issues
  airbyte-integrations/connectors/source-netsuite/requirements.txt
  airbyte-integrations/connectors/source-netsuite/source_netsuite/source.py
Labels: area/connectors

#426 CU-865cmgewf_QA-Netsuite-object-type-field-mandatory_Abi---
  airbyte-integrations/connectors/source-netsuite/requirements.txt
  airbyte-integrations/connectors/source-netsuite/source_netsuite/source.py
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.module.scss
Labels: area/connectors, area/platform, team/frontend

#428 CU-866b0khcx_---DA20231101-071---Change-the-connection-page-api-to-improve-the-performance_Nick
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/api, area/server

#429 CU-866b0khcx_---DA20231101-071---Change-the-connection-page-api-to-improve-the-performance_Nick
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/server

#430 change connection page API response
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/api, area/server

#431 change the normalizations to yuanrui2014 docker images
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
Labels: area/platform, area/worker

#432 CU-866b0r9tt_---DA20231012-066---Performance-issue-on-production---further-optimizations_Shoaib-Ejaz
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/types.ts
  airbyte-webapp/src/components/icons/DisabledIcon.tsx
  airbyte-webapp/src/components/icons/FailedIcon.tsx
  airbyte-webapp/src/components/icons/GreenIcon.tsx
  airbyte-webapp/src/components/icons/GreenLoaderIcon.tsx
  airbyte-webapp/src/components/icons/WaitingIcon.tsx
  airbyte-webapp/src/core/request/AirbyteClient.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/components/NewConnectionsTable.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
Labels: area/platform, team/frontend

#436 CU-85zu4abdw_Webapp-responsiveness_Shoaib-Ejaz
  airbyte-webapp/src/components/ConnectionStep/ConnectionStep.tsx
  airbyte-webapp/src/components/ConnectionStep/components/StepBox.tsx
  airbyte-webapp/src/components/StepsMenu/StepsMenu.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/styles.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.module.scss
Labels: area/platform, team/frontend

#437 CU-866b0p4am_---DA20231011-064---Webapp-responsiveness_Abi---
  airbyte-webapp/src/components/ConnectionStep/ConnectionStep.tsx
  airbyte-webapp/src/components/ConnectionStep/components/StepBox.tsx
  airbyte-webapp/src/components/StepsMenu/StepsMenu.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/styles.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.module.scss
Labels: area/platform, team/frontend

#439 CU-866b161nv_---DA20231112-077---change-the-icon-field-in-all-the-responses-to-string-_Shoaib-Ejaz
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/ExistingEntityForm.tsx
Labels: area/platform, team/frontend

#440 CU-866b1ffma_---DA20231112-079---Role-tooltip_Shoaib-Ejaz
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/icons/QuestionIcon.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/SettingsPage/pages/UserManagementPage/components/UserTable.tsx
Labels: area/platform, team/frontend

#441 Table naming length related issue
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/LongTermStorageFeeCharges.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

#442 CU-866b1vzq8_---DA20231122-089---improve-the-performance-of-getting-connection-s_Nick
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/server, area/scheduler

#444 CU-866b1vzq8_---DA20231122-089---improve-the-performance-of-getting-connection-s_Nick
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/server, area/scheduler

#447 CU-866b2050x_---DA20231122-089---improve-the-performance-of-getting-connection-s_Nick
  airbyte-api/src/main/openapi/config.yaml
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/api, area/server, area/scheduler

#446 CU-866b1wk2e_---DA20231012-066---Performance-issue-on-production---add-connection-error_Shoaib-Ejaz
  airbyte-webapp/.env
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/core/domain/connector/SourceService.ts
Labels: area/platform, team/frontend

#448 fix performance issue
  airbyte-api/src/main/openapi/config.yaml
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-webapp/.env
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/core/domain/connector/SourceService.ts
  docs/setup-guide/sources/google-ads.md
  ingress-dev.yaml
  ingress-production.yaml
  ingress-staging.yaml
Labels: area/platform, team/frontend, area/api, area/server, area/scheduler, area/documentation

#449 CU-866b2050x_---DA20231122-089---improve-the-performance-of-getting-connection-s_Nick
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/api, area/server

#450 CU-866b206j9_---DA20231122-089---improve-the-performance-of-getting-connections_Shoaib-Ejaz
  airbyte-webapp/.env
  airbyte-webapp/src/core/domain/connection/WebBackendConnectionService.ts
  airbyte-webapp/src/core/request/AirbyteClient.ts
  airbyte-webapp/src/core/request/DaspireClient.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/components/NewConnectionsTable.tsx
Labels: area/platform, team/frontend

#453 shein 订单拉取日期优化
  airbyte-integrations/connectors/source-shein/Dockerfile
  airbyte-integrations/connectors/source-shein/source_shein/source.py
Labels: area/connectors

#452 CU-866b13zky_---DA20231012-066---Performance-issue-on-production---remove-extra-properties_Nick
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
Labels: area/platform, area/api, area/server

#454 集成飞书多维表获取子表数据
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-feishu/source_feishu/common.py
  airbyte-integrations/connectors/source-feishu/source_feishu/constraints.py
  airbyte-integrations/connectors/source-feishu/source_feishu/source.py
  airbyte-integrations/connectors/source-feishu/source_feishu/streams.py
Labels: area/connectors

#455 CU-866b238r2_---DAPB20231101-013---Nothing-happens-when-click-Upgrade-now-button-on-the-banner_Shoaib-Ejaz
  airbyte-webapp/.env
  airbyte-webapp/src/core/request/AirbyteClient1.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/UserManagementPage/components/UserTable.tsx
Labels: area/platform, team/frontend
