Repository Yuanrui-Mdt-Info/airbyte, pull requests merged in 2023-06, with the labels that each got.

#296 shein 对接
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shein/.dockerignore
  airbyte-integrations/connectors/source-shein/Dockerfile
  airbyte-integrations/connectors/source-shein/README.md
  airbyte-integrations/connectors/source-shein/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shein/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-shein/build.gradle
  airbyte-integrations/connectors/source-shein/integration_tests/__init__.py
  airbyte-integrations/connectors/source-shein/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shein/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-shein/integration_tests/catalog.json
  airbyte-integrations/connectors/source-shein/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shein/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shein/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-shein/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-shein/main.py
  airbyte-integrations/connectors/source-shein/requirements.txt
  airbyte-integrations/connectors/source-shein/setup.py
  airbyte-integrations/connectors/source-shein/source_shein/__init__.py
  airbyte-integrations/connectors/source-shein/source_shein/schemas/TODO.md
  airbyte-integrations/connectors/source-shein/source_shein/schemas/customers.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/employees.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_detail_address.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_list.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_list_123.json
  airbyte-integrations/connectors/source-shein/source_shein/source.py
  airbyte-integrations/connectors/source-shein/source_shein/spec.yaml
  airbyte-integrations/connectors/source-shein/unit_tests/__init__.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-shein/unit_tests/unit_test.py
Labels: area/connectors

#297 CU-865cfbmr0_SHEIN-source-test_Abi---
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shein/.dockerignore
  airbyte-integrations/connectors/source-shein/Dockerfile
  airbyte-integrations/connectors/source-shein/README.md
  airbyte-integrations/connectors/source-shein/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shein/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-shein/build.gradle
  airbyte-integrations/connectors/source-shein/integration_tests/__init__.py
  airbyte-integrations/connectors/source-shein/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shein/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-shein/integration_tests/catalog.json
  airbyte-integrations/connectors/source-shein/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shein/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shein/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-shein/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-shein/main.py
  airbyte-integrations/connectors/source-shein/requirements.txt
  airbyte-integrations/connectors/source-shein/setup.py
  airbyte-integrations/connectors/source-shein/source_shein/__init__.py
  airbyte-integrations/connectors/source-shein/source_shein/schemas/TODO.md
  airbyte-integrations/connectors/source-shein/source_shein/schemas/customers.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/employees.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_detail_address.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_list.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_list_123.json
  airbyte-integrations/connectors/source-shein/source_shein/source.py
  airbyte-integrations/connectors/source-shein/source_shein/spec.yaml
  airbyte-integrations/connectors/source-shein/unit_tests/__init__.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-shein/unit_tests/unit_test.py
Labels: area/connectors

#298 shein对接日期优化
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shein/source_shein/source.py
  airbyte-integrations/connectors/source-shein/source_shein/spec.yaml
Labels: area/connectors

#300 CU-865cfzdtb_Daspire-supports-sheins-docs_Jerry-Lee---
  airbyte-config/init/src/main/resources/icons/Shein_Logo_2017.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  docs/setup-guide/sources/shein.md
  docs/zh/setup-guide/sources/shein.md
Labels: area/documentation

#302 change the doc url for shein
  airbyte-integrations/connectors/source-shein/source_shein/spec.yaml
  docs/integrations/sources/shein.md
Labels: area/connectors, area/documentation

#304 CU-865cfkwbb_bugshein_Abi---
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shein/source_shein/source.py
  airbyte-integrations/connectors/source-shein/source_shein/spec.yaml
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
Labels: area/connectors

#305 v1.1.4
  airbyte-config/init/src/main/resources/icons/Shein_Logo_2017.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shein/.dockerignore
  airbyte-integrations/connectors/source-shein/Dockerfile
  airbyte-integrations/connectors/source-shein/README.md
  airbyte-integrations/connectors/source-shein/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shein/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-shein/build.gradle
  airbyte-integrations/connectors/source-shein/integration_tests/__init__.py
  airbyte-integrations/connectors/source-shein/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shein/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-shein/integration_tests/catalog.json
  airbyte-integrations/connectors/source-shein/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shein/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shein/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-shein/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-shein/main.py
  airbyte-integrations/connectors/source-shein/requirements.txt
  airbyte-integrations/connectors/source-shein/setup.py
  airbyte-integrations/connectors/source-shein/source_shein/__init__.py
  airbyte-integrations/connectors/source-shein/source_shein/schemas/TODO.md
  airbyte-integrations/connectors/source-shein/source_shein/schemas/customers.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/employees.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_detail_address.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_list.json
  airbyte-integrations/connectors/source-shein/source_shein/schemas/order_list_123.json
  airbyte-integrations/connectors/source-shein/source_shein/source.py
  airbyte-integrations/connectors/source-shein/source_shein/spec.yaml
  airbyte-integrations/connectors/source-shein/unit_tests/__init__.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shein/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-shein/unit_tests/unit_test.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
  docs/integrations/sources/shein.md
  docs/setup-guide/sources/shein.md
  docs/zh/setup-guide/sources/shein.md
Labels: area/connectors, area/documentation

#306 CU-866aadcfv_FE-Send-notifications-to-user-when-payment-fails_Nick
  airbyte-webapp/src/core/domain/payment/Payment.ts
  airbyte-webapp/src/core/domain/payment/PaymentService.tsx
  airbyte-webapp/src/core/request/AirbyteClient.ts
  airbyte-webapp/src/core/request/DaspireClient.ts
  airbyte-webapp/src/hooks/services/Health/HealthProvider.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/PaymentPage/FailedPaymentPage.tsx
  airbyte-webapp/src/pages/PaymentPage/steps/BillingPaymentStep/BillingPaymentStep.tsx
  airbyte-webapp/src/pages/routePaths.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/services/payments/PaymentsService.tsx
  airbyte-webapp/src/views/layout/Banners/FailedPaymentBanner/FailedPaymentBanner.tsx
  airbyte-webapp/src/views/layout/Banners/FailedPaymentBanner/index.tsx
  airbyte-webapp/src/views/layout/Banners/index.tsx
  airbyte-webapp/src/views/layout/MainView/MainView.tsx
Labels: area/platform, team/frontend

#307 CU-865cdr34a_Send-notifications-to-user-when-payment-fails---test_Abi---
  airbyte-webapp/src/core/domain/payment/Payment.ts
  airbyte-webapp/src/core/domain/payment/PaymentService.tsx
  airbyte-webapp/src/core/request/AirbyteClient.ts
  airbyte-webapp/src/core/request/DaspireClient.ts
  airbyte-webapp/src/hooks/services/Health/HealthProvider.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/PaymentPage/FailedPaymentPage.tsx
  airbyte-webapp/src/pages/PaymentPage/steps/BillingPaymentStep/BillingPaymentStep.tsx
  airbyte-webapp/src/pages/routePaths.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/services/payments/PaymentsService.tsx
  airbyte-webapp/src/views/layout/Banners/FailedPaymentBanner/FailedPaymentBanner.tsx
  airbyte-webapp/src/views/layout/Banners/FailedPaymentBanner/index.tsx
  airbyte-webapp/src/views/layout/Banners/index.tsx
  airbyte-webapp/src/views/layout/MainView/MainView.tsx
Labels: area/platform, team/frontend

#309 change the org.openapitools:openapi-generator-gradle-plugin from 6.1.…
  airbyte-api/build.gradle
Labels: area/platform, area/api

#310 CU-866acbtvg_Create-ShipStation-as-a-source_Ali-Ahmad
  .gitignore
  airbyte-integrations/connectors/source-shipstation-abstract/.dockerignore
  airbyte-integrations/connectors/source-shipstation-abstract/Dockerfile
  airbyte-integrations/connectors/source-shipstation-abstract/README.md
  airbyte-integrations/connectors/source-shipstation-abstract/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shipstation-abstract/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-shipstation-abstract/build.gradle
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/__init__.py
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/catalog.json
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-shipstation-abstract/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-shipstation-abstract/main.py
  airbyte-integrations/connectors/source-shipstation-abstract/requirements.txt
  airbyte-integrations/connectors/source-shipstation-abstract/setup.py
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/__init__.py
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/TODO.md
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/carriers.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/customers.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/fulfillments.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/get_store.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/market_places.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/orders.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/products.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/shipments.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/stores.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/users.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/source.py
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/spec.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/streams.py
  airbyte-integrations/connectors/source-shipstation-abstract/unit_tests/__init__.py
  airbyte-integrations/connectors/source-shipstation-abstract/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-shipstation-abstract/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shipstation-abstract/unit_tests/test_streams.py
Labels: area/connectors

#313 CU-865chxvj6_For-Amazon-Seller-Reports-default-to-the-previous-days-date-if-not-specified_Jerry-Lee---
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

#314 CU-866addawg_QA-Shipstation_haimin-
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

#315 CU-865cj6c3k_Update-Shipstation-fields-and-setup-guides_Jerry-Lee---
  airbyte-config/init/src/main/resources/icons/shipstation.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  docs/setup-guide/sources/shipstation.md
  docs/zh/setup-guide/sources/shipstation.md
Labels: area/documentation

#317 CU-866acbtvg_Create-ShipStation-as-a-source_Ali-Ahmad
  .vscode/settings.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/customers.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/fulfillments.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/get_store.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/market_places.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/orders.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/products.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/shipments.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/stores.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/schemas/users.json
  airbyte-integrations/connectors/source-shipstation-abstract/source_shipstation_abstract/spec.json
  airbyte-integrations/connectors/source-shipstation/.dockerignore
  airbyte-integrations/connectors/source-shipstation/Dockerfile
  airbyte-integrations/connectors/source-shipstation/README.md
  airbyte-integrations/connectors/source-shipstation/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shipstation/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-shipstation/build.gradle
  airbyte-integrations/connectors/source-shipstation/integration_tests/__init__.py
  airbyte-integrations/connectors/source-shipstation/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shipstation/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-shipstation/integration_tests/catalog.json
  airbyte-integrations/connectors/source-shipstation/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shipstation/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shipstation/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-shipstation/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-shipstation/main.py
  airbyte-integrations/connectors/source-shipstation/requirements.txt
  airbyte-integrations/connectors/source-shipstation/setup.py
  airbyte-integrations/connectors/source-shipstation/source_shipstation/__init__.py
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/TODO.md
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/carriers.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/customers.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/fulfillments.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/get_store.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/market_places.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/orders.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/products.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/shipments.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/stores.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/users.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/schemas/warehouses.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/source.py
  airbyte-integrations/connectors/source-shipstation/source_shipstation/spec.json
  airbyte-integrations/connectors/source-shipstation/source_shipstation/streams.py
  airbyte-integrations/connectors/source-shipstation/unit_tests/__init__.py
  airbyte-integrations/connectors/source-shipstation/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-shipstation/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shipstation/unit_tests/test_streams.py
Labels: area/connectors

#319 CU-865cjfjye_fix-the-issue-that-Shipstation-doesnt-show-the-icon-in-the-source-definition_Jerry-Lee---
  docs/.gitbook/assets/shipstation-api-keys.jpeg
  docs/.gitbook/assets/shipstation-api-settings.jpeg
  docs/.gitbook/assets/shipstation-settings.jpeg
  docs/setup-guide/sources/shipstation.md
  docs/zh/setup-guide/sources/shipstation.md
Labels: area/documentation

#323 CU-866abgqh6_Amazon-SP-region-update_Nick
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-config/init/src/test/resources/connector_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/constants.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

#326 CU-865cjqx42_FE-consume-payment-failure-email-notification-endpoint_Nick
  airbyte-webapp/src/core/request/AirbyteClient.ts
  airbyte-webapp/src/core/request/DaspireClient.ts
  airbyte-webapp/src/hooks/services/Health/HealthProvider.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/NotificationPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/components/PaymentTable.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/PlansBillingPage/PlansBillingPage.tsx
  airbyte-webapp/src/services/notificationSetting/NotificationSettingService.tsx
Labels: area/platform, team/frontend

#330 solved some issues about amazon seller partner
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
Labels: area/connectors

#331 CU-866a2nv2a_Add-sourcedestinationconnection-pages-UI-updates_Anet-
  airbyte-webapp/.env
  airbyte-webapp/README.md
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/ConnectorBlocks/FormPageContent.tsx
  airbyte-webapp/src/components/ConnectorBlocks/index.tsx
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.module.scss
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/DataPanel/DefinitionCard.tsx
  airbyte-webapp/src/components/DataPanel/components/Card.tsx
  airbyte-webapp/src/components/base/Button/BigButton.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/SelectConnectionPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/ExistingEntityForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CopyDestinationPage/components/DestinationCopy.module.scss
  airbyte-webapp/src/pages/DestinationPage/pages/CopyDestinationPage/components/DestinationCopy.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/SelectDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.module.scss
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CopySourcePage/components/SourceCopy.module.scss
  airbyte-webapp/src/pages/SourcesPage/pages/CopySourcePage/components/SourceCopy.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/SelectSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.module.scss
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/EditControls.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/OperationsSection.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connector/TestConnection/components/FooterButtons.tsx
  airbyte-webapp/src/views/layout/MainView/MainView.tsx
Labels: area/platform, team/frontend

#332 CU-865cknzdx_FE-update-payment-on-payment-fail-add-loading-indicator_Anet-
  airbyte-webapp/README.md
  airbyte-webapp/src/components/base/Button/BigButton.tsx
  airbyte-webapp/src/pages/PaymentPage/FailedPaymentPage.tsx
  airbyte-webapp/src/pages/PaymentPage/PaymentPage.tsx
Labels: area/platform, team/frontend

#333 CU-866a17cnm_Make-Netsuite-object-type-field-mandatory_Ali-Ahmad
  airbyte-integrations/connectors/source-netsuite/source_netsuite/spec.yaml
Labels: area/connectors

#335 CU-865cmgf01_QA-update-payment-page-add-loading-indicator_Abi---
  airbyte-integrations/connectors/source-netsuite/source_netsuite/spec.yaml
  airbyte-webapp/.env
  airbyte-webapp/README.md
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/ConnectorBlocks/FormPageContent.tsx
  airbyte-webapp/src/components/ConnectorBlocks/index.tsx
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.module.scss
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/DataPanel/DefinitionCard.tsx
  airbyte-webapp/src/components/DataPanel/components/Card.tsx
  airbyte-webapp/src/components/base/Button/BigButton.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/SelectConnectionPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/ExistingEntityForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CopyDestinationPage/components/DestinationCopy.module.scss
  airbyte-webapp/src/pages/DestinationPage/pages/CopyDestinationPage/components/DestinationCopy.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/SelectDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.module.scss
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/PaymentPage/FailedPaymentPage.tsx
  airbyte-webapp/src/pages/PaymentPage/PaymentPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CopySourcePage/components/SourceCopy.module.scss
  airbyte-webapp/src/pages/SourcesPage/pages/CopySourcePage/components/SourceCopy.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/SelectSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.module.scss
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/EditControls.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/OperationsSection.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connector/TestConnection/components/FooterButtons.tsx
  airbyte-webapp/src/views/layout/MainView/MainView.tsx
  ingress-airbyte.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev-integration-test/kustomization.yaml
  kube/overlays/dev-integration-test/parallelize-worker.yaml
  kube/resources-dev/kustomization.yaml
  kube/resources-dev/temporal.yaml
Labels: area/connectors, area/platform, team/frontend, kubernetes

#336 CU-865cmgewf_QA-Netsuite-object-type-field-mandatory_Abi---
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors
