Repository Yuanrui-Mdt-Info/airbyte, pull requests merged in 2023-07, with the labels that each got.

#337 CU-865cj6h6y_Multitenancy-11-sign-up-flow_Nick
  airbyte-webapp/src/core/AuthContext/AuthContext.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/AuthPage/SignupPage/components/SignupForm.tsx
  airbyte-webapp/src/pages/AuthPage/VerifyEmailPage/VerifyEmailPage.tsx
  airbyte-webapp/src/services/auth/AuthService.ts
Labels: area/platform, team/frontend

#338 CU-866a17cnm_Make-Netsuite-object-type-field-mandatory_Ali-Ahmad
  airbyte-integrations/connectors/source-netsuite/requirements.txt
  airbyte-integrations/connectors/source-netsuite/source_netsuite/source.py
  airbyte-integrations/connectors/source-netsuite/source_netsuite/spec.yaml
Labels: area/connectors

#340 Cu 864euukcq carlos
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-feishu/.dockerignore
  airbyte-integrations/connectors/source-feishu/Dockerfile
  airbyte-integrations/connectors/source-feishu/README.md
  airbyte-integrations/connectors/source-feishu/acceptance-test-config.yml
  airbyte-integrations/connectors/source-feishu/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-feishu/build.gradle
  airbyte-integrations/connectors/source-feishu/integration_tests/__init__.py
  airbyte-integrations/connectors/source-feishu/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-feishu/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-feishu/integration_tests/catalog.json
  airbyte-integrations/connectors/source-feishu/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-feishu/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-feishu/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-feishu/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-feishu/main.py
  airbyte-integrations/connectors/source-feishu/requirements.txt
  airbyte-integrations/connectors/source-feishu/setup.py
  airbyte-integrations/connectors/source-feishu/source_feishu/__init__.py
  airbyte-integrations/connectors/source-feishu/source_feishu/constraints.py
  airbyte-integrations/connectors/source-feishu/source_feishu/schemas/TODO.md
  airbyte-integrations/connectors/source-feishu/source_feishu/schemas/employees.json
  airbyte-integrations/connectors/source-feishu/source_feishu/schemas/instances_detail.json
  airbyte-integrations/connectors/source-feishu/source_feishu/source.py
  airbyte-integrations/connectors/source-feishu/source_feishu/spec.yaml
  airbyte-integrations/connectors/source-feishu/unit_tests/__init__.py
  airbyte-integrations/connectors/source-feishu/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-feishu/unit_tests/test_source.py
  airbyte-integrations/connectors/source-feishu/unit_tests/test_streams.py
Labels: area/connectors

#341 CU-85ztccftr_Notification-setting---payment-failure-notifications_Nick
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/NotificationPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/components/NotificationFlag.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/components/PaymentTable.tsx
Labels: area/platform, team/frontend

#342 CU-865cnnznp_QA-payment-failure-notification_haimin-
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-feishu/.dockerignore
  airbyte-integrations/connectors/source-feishu/Dockerfile
  airbyte-integrations/connectors/source-feishu/README.md
  airbyte-integrations/connectors/source-feishu/acceptance-test-config.yml
  airbyte-integrations/connectors/source-feishu/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-feishu/build.gradle
  airbyte-integrations/connectors/source-feishu/integration_tests/__init__.py
  airbyte-integrations/connectors/source-feishu/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-feishu/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-feishu/integration_tests/catalog.json
  airbyte-integrations/connectors/source-feishu/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-feishu/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-feishu/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-feishu/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-feishu/main.py
  airbyte-integrations/connectors/source-feishu/requirements.txt
  airbyte-integrations/connectors/source-feishu/setup.py
  airbyte-integrations/connectors/source-feishu/source_feishu/__init__.py
  airbyte-integrations/connectors/source-feishu/source_feishu/constraints.py
  airbyte-integrations/connectors/source-feishu/source_feishu/schemas/TODO.md
  airbyte-integrations/connectors/source-feishu/source_feishu/schemas/employees.json
  airbyte-integrations/connectors/source-feishu/source_feishu/schemas/instances_detail.json
  airbyte-integrations/connectors/source-feishu/source_feishu/source.py
  airbyte-integrations/connectors/source-feishu/source_feishu/spec.yaml
  airbyte-integrations/connectors/source-feishu/unit_tests/__init__.py
  airbyte-integrations/connectors/source-feishu/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-feishu/unit_tests/test_source.py
  airbyte-integrations/connectors/source-feishu/unit_tests/test_streams.py
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/NotificationPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/components/NotificationFlag.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountSettingsPage/pages/NotificationPage/components/PaymentTable.tsx
Labels: area/connectors, area/platform, team/frontend

#343 CU-866a17cnm_Make-Netsuite-object-type-field-mandatory_Ali-Ahmad
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-netsuite/source_netsuite/source.py
Labels: area/connectors

#345 CU-865cj6h6y_Multitenancy-11-sign-up-flow_Nick
  airbyte-webapp/src/core/AuthContext/AuthContext.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/PlansBillingPage/PlansBillingPage.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/services/auth/AuthService.ts
Labels: area/platform, team/frontend

#347 CU-866a17cnm_Make-Netsuite-object-type-field-mandatory_Ali-Ahmad
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-netsuite/source_netsuite/source.py
  airbyte-integrations/connectors/source-netsuite/source_netsuite/spec.yaml
Labels: area/connectors
