Repository Yuanrui-Mdt-Info/airbyte, pull requests merged in 2024-07, with the labels that each got.

#585 update worldfirst
  airbyte-integrations/connectors/source-alipay-worldfirst/source_alipay_worldfirst/source.py
  airbyte-integrations/connectors/source-alipay-worldfirst/source_alipay_worldfirst/streams.py
Labels: area/connectors

#586 update worldfirst
  airbyte-config/init/src/main/resources/icons/wf-logo.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-alipay-worldfirst/source_alipay_worldfirst/source.py
  airbyte-integrations/connectors/source-alipay-worldfirst/source_alipay_worldfirst/streams.py
Labels: area/connectors

#589 fix the error of syncing sales and traffic report
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

#590 create connection and destination count api
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  docs/reference/api/generated-api-html/index.html
Labels: area/platform, area/api, area/server, area/documentation

#591 create connection and destination count api
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  docs/reference/api/generated-api-html/index.html
Labels: area/platform, area/api, area/server, area/documentation

#592 update connection field
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-models/src/main/resources/types/StandardSync.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_40_3_003__AddTokenToWorkspace.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_40_3_005__AddAdvanceSettingToConnection.java
  airbyte-db/db-lib/src/test/java/io/airbyte/db/instance/configs/migrations/V0_40_3_003__AddTokenToWorkspaceTest.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/AirbyteStreamNameNamespacePair.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/MoreOAuthParameters.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/EbayOAuthFlow.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobCreator.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplier.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-workers/src/main/java/io/airbyte/workers/HttpUtil.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/ConnectionHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  docs/reference/api/generated-api-html/index.html
  ingress-airbyte.yaml
  kube/overlays/dev-integration-test/kustomization.yaml
  kube/overlays/dev/kustomization.yaml
  kube/overlays/staging/parallelize-worker.yaml
Labels: area/platform, area/api, area/server, area/scheduler, area/worker, kubernetes, area/documentation

#593 update connection field
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-models/src/main/resources/types/StandardSync.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_40_3_003__AddTokenToWorkspace.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_40_3_005__AddAdvanceSettingToConnection.java
  airbyte-db/db-lib/src/test/java/io/airbyte/db/instance/configs/migrations/V0_40_3_003__AddTokenToWorkspaceTest.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/AirbyteStreamNameNamespacePair.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/MoreOAuthParameters.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/EbayOAuthFlow.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobCreator.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplier.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-workers/src/main/java/io/airbyte/workers/HttpUtil.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/ConnectionHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  docs/reference/api/generated-api-html/index.html
  ingress-airbyte.yaml
  kube/overlays/dev-integration-test/kustomization.yaml
  kube/overlays/dev/kustomization.yaml
  kube/overlays/staging/parallelize-worker.yaml
Labels: area/platform, area/api, area/server, area/scheduler, area/worker, kubernetes, area/documentation

#594 add advance setting object in get and create connection API
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/EbayOAuthFlow.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/helpers/CatalogConverter.java
Labels: area/platform, area/server
