Repository Yuanrui-Mdt-Info/airbyte, pull requests merged in 2024-10, with the labels that each got.

#628 changes
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/zoho/ZohoDeskOAuthFlow.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
Labels: area/platform, area/server

#629 change docker images repository
  build.gradle
  kube/overlays/dev/kustomization.yaml
  kube/overlays/production/kustomization.yaml
  kube/overlays/staging/kustomization.yaml
Labels: area/platform, kubernetes

#632 enable Tiktok source and remove extra space from env file
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-config/init/src/test/resources/connector_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  kube/overlays/production/.env
  kube/overlays/staging/.env
Labels: area/connectors

#633 The Zoho Desk authentication issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-config/init/src/test/resources/connector_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuth2Flow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/zoho/ZohoDeskOAuthFlow.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  build.gradle
  kube/overlays/dev/kustomization.yaml
  kube/overlays/production/.env
  kube/overlays/production/kustomization.yaml
  kube/overlays/staging/.env
  kube/overlays/staging/kustomization.yaml
  kube/resources-dev/bootloader.yaml
  kube/resources-dev/cron.yaml
  kube/resources-dev/db.yaml
  kube/resources-dev/server.yaml
  kube/resources-dev/webapp.yaml
  kube/resources-dev/worker.yaml
Labels: area/connectors, area/platform, area/server, kubernetes
